@import './common/var.scss';
@import './mixins/button';
@import './mixins/mixins.scss';
@import './mixins/utils.scss';


@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color--white;
  border: $--border-default;
  color: $--color-text-default;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 400;
  // 不被选中
  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  @include button-size($--button-padding-vertical,$--button-padding-horizontal,$--font-size-default,$--border-radius-default);

  &:hover,
  &:focus {
    color: $--color--primary;
    border-color: mix($--color--white,$--color--primary,70%);
    background-color: mix($--color--white,$--color--primary,90%);
  }

  &:active {
    color: $--color--primary;
    border-color: mix($--color--white,$--color--primary,70%);
    background-color: mix($--color--white,$--color--primary,90%);
  }

  & [class*='dr-icon'] {
    & + span {
      margin-left: 5px;
    }
  }
  @include when(plain) {
    &:hover,
    &:focus {
      background: $--color--white;
      border-color: $--color--primary;
      color: $--color--primary;
    }
  }

  @include when(active) {
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--color-text-placeholder;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color--white;
      border-color: $--color-text-placeholder;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $--color--white;
        border-color: $--color-text-placeholder;
        color: $--color-text-placeholder;
      }
    }
  }
  
  @include when(loading) {
    pointer-events: none;
    position: relative;
    
    // 模板
    &:before {
     content: '';
     pointer-events: none;
     position: absolute;
     left: -1px;
     top: -1px;
     right: -1px;
     bottom: -1px;
     border-radius: inherit;
     background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    padding: 12px 23px;
    border-radius: 20px;
  }
  @include when(circle) {
    border-radius: $--border-radius-circle;
    padding: $--button-padding-vertical;
  }
  // 颜色 type
  @include m(primary) {
    @include button-variant($--color--white,$--color--primary,$--color--primary)
  }
  @include m(success) {
    @include button-variant($--color--white,$--color--success,$--color--success)
  }
  @include m(danger) {
    @include button-variant($--color--white,$--color--danger,$--color--danger)
  }
  @include m(warning) {
    @include button-variant($--color--white,$--color--warning,$--color--warning)
  }
  @include m(info) {
    @include button-variant($--color--white,$--color--info,$--color--info)
  }
  
  // 尺寸 size
  @include m(medium) {
    @include button-size($--button-padding-medium-vertical,$--button-padding-medium--horizontal,$--font-size-default,$--border-radius-default);
    @include when(circle) {
      padding: $--button-padding-medium-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-padding-small-vertical,$--button-padding-small--horizontal,$--font-size-small,$--border-radius-default);
    @include when(circle) {
      padding: $--button-padding-small-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-padding-mini-vertical,$--button-padding-mini--horizontal,$--font-size-small,$--border-radius-default);
    @include when(circle) {
      padding: $--button-padding-mini-vertical;
    }
  }
}

@include b(button-group) {
   @include utils-clearfix();
   display: inline-block;
   vertical-align: middle;
   & > .dr-button {
     float: left;
     position: relative;
   }
}