// 尺寸: large  default small

// 颜色
$text-color-default: #252525;
$primary-color: #03a9f4;
$success-color: #41b883;
$danger-color: #ec4141;
$warning-color:#e6a23c;
$info-color: #bbb;
$white-color: #fff;


// 边框
$border-default: 1px solid #ddd;


// 阴影